:root {
    --main: #0b84ff;
    --dark: #111827;
    --light: #f5f7fb;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: var(--light);
    color: #222;
}


/* الهيدر */

header {
    background: var(--dark);
    color: white;
    padding: 25px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 36px;
}


/* الواجهة الرئيسية */

.hero {
    background: white;
    padding: 50px 20px;
    text-align: center;
}

.hero h2 {
    font-size: 38px;
}


.hero p {
    font-size: 20px;
}


.main-btn {
    display: inline-block;
    background: var(--main);
    color: white;
    padding: 15px 35px;
    border-radius: 30px;
    text-decoration: none;
    margin-top: 20px;
}


/* الخدمات */

.services {
    padding: 30px;
    text-align: center;
}


.service-card {
    background: white;
    margin: 15px auto;
    padding: 25px;
    max-width: 320px;
    border-radius: 20px;
}


/* الفوتر */

footer {
    background: var(--dark);
    color: white;
    text-align: center;
    padding: 20px;
}
